<!DOCTYPE html>
<meta charset="utf-8" />
<html>
  <head>
    <link href="css/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <h1>Bienvennue Dans Le Jeu De Tron</h1>
    <main>
      <h5>Inscrivez-Vous</h5>
      <aside id="start_menu">
        <form action="/" method="post">
			<p>
            <label for="nom">Votre nom</label> :
            <input type="text" name="nom" id="nom" required />
            <span id="aideNom"></span>
          </p>
          <p>
            <label for="prenom">Votre prenom</label> :
            <input type="text" name="prenom" id="prenom" required />
            <span id="aidePrenom"></span>
          </p>
			<p>
            <label for="pseudo">Votre pseudo</label> :
            <input type="text" name="pseudo" id="pseudo" required />
            <span id="aidePseudo"></span>
          </p>
          <p>
            <label for="email">Votre email</label> :
            <input type="email" name="email" id="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"/>
            <span id="aideEmail"></span>
          </p>
          <p>
            <label for="mdp1">Entrer votre mot de passe</label> :
            <input type="password" name="mdp1" id="mdp1" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Doit contenir au moins un chiffre, un minuscule, une majuscule et au moins 8 caractère ou plus"/>
          </p>
          <p>
            <label for="mdp2">Confirmer votre mot de passe</label> :
            <input type="password" name="mdp2" id="mdp2" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Doit contenir au moins un chiffre, un minuscule, une majuscule et au moins 8 caractère ou plus"/>
          </p>
          <p id="infoMdp"></p>
          <br /><br /><br />
          <input type="submit" value="Envoyer" />
            <input type="reset" value="Annuler" />
        </form>
        
      </aside>
    </main>
  </body>
</html>
